<h1>New movie</h1>

<%# pass in locals when the instance variables are changing in the controller methods %>
<%# <%= render partial: "movies/form", locals: { foo: @new_movie } %> 

<%= render partial: "movies/form" %>
